.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.toggler {
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0;
    z-index: 3;
    visibility: hidden;
}
.burger {
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    visibility: hidden;
}
.burger div {
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff;
    transition: .4s;
}
.burger div:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff;
    top: 10px;
    transition: .4s;
}
.burger div:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff;
    top: -10px;
    transition: .4s;
}
.toggler:checked + .burger div {
    transform: rotate(135deg);
}
.toggler:checked:hover + .burger div {
    transform: rotate(45deg);
}
.toggler:checked + .burger div:after, .toggler:checked + .burger div:before {
    transform: rotate(90deg);
    top: 0;
}
.toggler:checked ~ .menu-second {
    visibility: visible;
}
.toggler:checked ~ .menu-second div {
    transform: translateX(-50%) translateY(-50%);
}
.toggler:checked ~ .menu-second div div {
    opacity: 1;
}
.menu-second {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    visibility: hidden;
}
.menu-second > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, .7);
    transition: .3s;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu-second div div {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    opacity: 0;
    align-items: center;
}
.menu-second div div ul li {
    position: relative;
    display: grid;
    list-style: none;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
}
.menu-second div div ul li a {
    text-decoration: none;
    margin: .5rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 550;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
    justify-content: center;
    align-items: center;
}
.menu-second div div ul li a:hover {
    color: rgb(163, 157, 157)
}
@media (max-width: 991px) {
    .burger {
        visibility: visible;
        cursor: pointer;
    }
    .toggler {
        cursor: pointer;
        visibility: visible;
    }
    
}